.wrapper {
    margin: 0 auto;
    min-width: 300px;
    max-width: 500px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#quantity {
  min-width: 260px;
  max-width: 300px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid;

  margin-bottom: 20px;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn-block {
  width: 100%;

  display: flex;
  justify-content: space-around;

    button {
      max-width: 265px;
      min-width: 165px;
      height: 30px;
      background: green;
      color: #fff;
      border-radius: 5px;

      margin-bottom: 20px;
  }
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    // width: 100%;
    display: flex;
    justify-content: center;

  }
      
  td {
    padding: 15px;
    border: 1px solid;
  }

  tr:first-child{
    background: #f5f2f0;
  }

  @media (min-width: 320px) and (max-width: 620px) {
    td {
      padding: 5px 0;
      border: 1px solid;
    }  
    .btn-block button {
          width: 300px;
    }
  }

  @media (min-width: 1100px) {
    .wrapper {
      max-width: 1300px;
    }
    .main {
      display: flex;
      justify-content: space-around;
      
    }
  }